<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <title>Card Query</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link href = "/assets/CARDQUERY.css" rel="stylesheet" type="text/css"/>
    <link href = "/assets/global.css" rel="stylesheet" type="text/css"/>
    <link href = "/assets/upperdesign.css" rel="stylesheet" type="text/css"/>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100;400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=League Spartan:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Titillium Web:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap"
    />
  </head>
  <body>
            <!-- upper design to homepage -->
      
            <div class="Bgupper">
              <img
                class="beverageslogo"
                alt=""
                src="/beverages-2-4@2x.png"
                id="beverages24"
              />
            <div class="bobasticlink" id="bOBASTICText">
              <b>BOBASTIC</b>
            </div>
          </div>
    
          <!-- content -->
          <div class="Tstyle" >
            <table>
              <thead>
                <tr class = "CN">
                  <th>Customer Number</th> 
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Address</th>
                  <th>Phone number</th>
                  <th>Points</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <% customers.forEach(function(data) { %>
                  <tr>
                    <td><%= data.Customer_Suki_ID %></td>
                    <td><%= data.First_Name %></td>
                    <td><%= data.Last_Name %></td>
                    <td><%= data.Email %></td>
                    <td><%= data.Address %></td>
                    <td><%= data.Phone_Number %></td>
                    <td><%= data.Points %></td>
                    <td>
                      <button class = "Boxbutton" data-id="${row.Customer_Suki_ID}" id="ViewButton">View</button>
                      <button class = "Boxbutton" data-id="${row.Customer_Suki_ID}" id="cq-delete-btn">Delete</button>  
                    </td>
                  </tr>
                <% }); %>
              </tbody>
                  
            </table>
          </div>
          <div class="search">
            <form action="#">
                <input type="text" placeholder="Type in your Name or Number">
                <button type="submit" placeholder ="Search"><span>&#128269;</span></button>          
              </form>
          </div>
          <img
            class="arrow-icon"
            alt=""
            src="/arrow-21.svg"
            id="arrowIcon"
          />
      <script type="text/javascript" src="/assets/home.js"></script>
  </body>
</html>
